.aboutme-section {
    background-color: var(--white);
    max-width: 1200px;
    min-height: calc(100vh - 90px);
    margin-top: 90px;
    margin: auto;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.aboutme-info {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.aboutme-greeting {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.aboutme-name {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-shadow: 5px 5px var(--dark-grey);
    margin-top: 0;
    margin-bottom: 6px;
    color: var(--flamingo) ; 
    font-size: 2.813rem;
    /* -webkit-text-stroke: 1px black; */
}

.button-projects {
    background-color: var(--old-pink);
    color: var(--black);
    padding: 15px 25px;
    border-radius: 100px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.button-projects:hover {
    background-color: var(--old-pink-light);

}

.aboutme-image {
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
}

@media (min-width: 768px) {

    .aboutme-greeting {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .aboutme-name {
        font-size: 4rem;
    }

    .aboutme-description {
        font-size: 30px;
        margin-top: 15px;
    }

    .button-projects {
        padding: 20px 45px;
        font-size: 20px;
    }

    .aboutme-image {
        max-width: 500px;
    }

}

@media screen and (min-width:830px) {

    .aboutme-section {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    .aboutme-info  {
        align-items: flex-start;
        text-align: left;
    }

    .aboutme-greeting {
        font-size: 28px;
    }

    .aboutme-name {
        font-size: 3rem;
    }

    .aboutme-description {
        font-size: 20px;
    }

    .button-projects {
        padding: 15px 30px;
        font-size: 14px;
    }
}