/* Social network */

.section-contact {

    flex-direction: column;
    padding: 0 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact-container {
    width: 100%;
    /* background-color: var(--light-grey); */
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-title {
    margin-bottom: 5px;
}

.text-contact {
    width: 100%;
}

.section-social {
    margin-top: 40px;
    transition: .2s;
}

.section-social:first-of-type {
    padding-right: 20px;
}

.contact-social-item {
    display: block;
    margin: 5px 0px;
    line-height: 2rem;
}

.contact-social-item a {
    color: var(--black);
    display: flex;
    align-items: center;
}

.contact-social-icon.fab,
.contact-social-icon.fas {
    font-size: 1.1rem;
    margin-right: 20px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-social-item:hover .contact-social-icon {
    background-color: var(--black);
    color: rgb(240, 241, 245);
}

.contact-social-item:hover .contact-link .social-name {
    color: var(--flamingo);
    font-weight: 400;
}

.contact-social-item:focus {
    box-shadow: 0px 0px 18px var(--dark-grey);
    outline: 0;
}

.contact-social {
    display: flex;
}

/* Write me section   */

.contact-column {
    margin-right: 45px;
}

.contact-column:last-child {
    margin: 0;
}

.contact-writeme {
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 7px;
    font-size: 17px;
    background-color: var(--coin);
    border: none;
    color: var(--iron-grey);
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow: hidden;
    padding-right: 50px;
}

input:focus {
    box-shadow: 0px 0px 7px var(--flamingo);
    outline: 0;
}

.input-name {
    display: flex;
    align-items: center;
    padding: 5px 0px;

}

.input-wrapper {

    position: relative;
}

.form-icon {
    position: absolute;
    right: 10px;
    top: -6px;
    font-size: 1.2em;
}

.icon-valid {
    color: var(--valid);
}

.icon-invalid {
    color: var(--salmon);
}

input:valid:focus,
textarea:valid:focus {
    box-shadow: 0px 0px 5px var(--valid);
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 5px var(--salmon);
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border: 1px solid var(--salmon);
}

input:valid,
textarea:valid {
    border: 1px solid var(--valid);
}


.icon-invalid,
.icon-valid {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transform: translateY(50%);
}

/* input:focus, 
textarea:focus{
    box-shadow: 0 0 5px 0 var(--salmon);
} */

input:valid~.icon-valid,
textarea:valid~.icon-valid,
input:not(:placeholder-shown):invalid~.icon-invalid,
textarea:not(:placeholder-shown):invalid~.icon-invalid {
    display: block;
}

.input-name .control-form:nth-of-type(1) {
    margin-right: 10px;
}

.input-name .control-form:nth-of-type(2) {
    margin-left: 10px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-bottom: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--old-pink-light);
}

.button-form {
    width: 25%;
    font-size: 1em;
    font-weight: 500;
    padding: 10px;
    margin: 15px;
    background-color: var(--old-pink);
    border-radius: 20px;
    border: none;
    outline: none;
}

@media (min-width:768px) {

    .contact-social-icon.fab,
    .contact-social-icon.fas {
        font-size: 1.8rem;
        width: 3rem;
        height: 3rem;
        padding: 15px 15px;
    }

    .social-name {
        font-size: 1.6em;
    }

    .contact-social-item {
        margin-bottom: 30px;
    }

    label {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;

    }


    .button-form {
        width: 20%;
        font-size: 1.5em;
        font-weight: bold
    }
}

@media (min-width: 770px) {

    .contact-container {
        border-radius: 15px;
        border: 1px solid var(--border-grey);
        flex-direction: row;
        padding: 80px 60px;
    }

    .contact-column {
        width: 50%;
    }

    .section-contact {
        padding: 150px 40px;
    }

    .button-form {
        width: 35%;
    }

    .contact-writeme {
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-title {
        margin-bottom: 0;
    }
}

@media (min-width:830px) {
    .section-contact {
        max-width: 1200px;
        margin: auto;
    }
}