.header-container {
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.menu {
    margin: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    color: var(--black);
    margin: 3px;
}

.nav-item {
    padding: 2%;
    /* border-top: 1px solid rgba(255, 255, 255, 0.801); */
}

.nav-item:hover {
    background-color: var(--light-grey);
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin-top: -3px;
}

.nav-header {
    margin-top: -100%;
    transition: margin-top .5s ease-in-out;
    background-color: white;

}

.burguer-close {
        display: none;
}

#btn-menu:checked+.nav-header {

    margin-top: 0;
}

#btn-menu {
    display: none;
}

.burguer {
    width: fit-content;
    margin: 10px;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: bisque;
    display: inline-block;
    cursor: pointer;
}

@media (min-width:830px) {

    .burguer {
        display: none;
    }

    .header-container {
        width: 100%;


    }

    header {
        width: 100%;
        background-color: var(--black);
        padding: 15px 20px;
        box-shadow: 0 0 29px 0 var(--dark-grey);
        position: fixed;
        z-index: 1;
        transition: 0.4s;
    }

    .nav-header {
        margin-top: 0;
        background-color: transparent;
    }


    .nav-menu {
        margin: 0;
        padding-right: 90px;
        display: flex;
    }

    .nav-item {
        /* margin: 0 10px; */
        border-bottom: 0;
    }

    .nav-item:hover {
        background-color: transparent;
    }


    .nav-link {
        line-height: 2;
        /* color:  rgb(240, 197, 181) ; */
        padding: 5px 10px;
        font-weight: 700;
        color: var(--white);
        border: 1px solid transparent;
        border-radius: 100px;
    }

    .nav-link:hover {
        border-color: var(--white);
        /* -webkit-transition:all .2s ease;  */
        /* -webkit-transform:scale(1.1); */
    }

    .nav-link:focus {
        box-shadow: 0px 0px 18px var(--dark-grey);
        outline: 0;
    }

    /*el selector es para elementos que tenga las dos clases*/
    .nav-link.contact {
        background-color: var(--old-pink);
        color: var(--black);
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }
}