* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width:100%; 
    margin:0 auto; 
}

:root {
    --rosaViejo : rgb(240, 197, 181) ;
    --rosaViejoOscuro: #f1c4a3;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.section-title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 12px;
    
}

.section-description {
    color: rgb(24, 23, 23);
    margin-bottom: 50px;
    line-height: 1.5em;
    font-size: 1.2rem;
}
/*revisar a acá en adelante*/

nav ul li a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    color: black;
    float: right; 
    margin: 3px;
}

ul li {
    display: inline;
}

a {
    text-decoration: none;
}
.section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3em;
        margin-bottom: 1em;
    }

    .section-description {
        line-height: 1.8em;
        font-size: 1.75rem;
    }
   
}

@media (min-width:830px) {
    .section-title {
        font-size: 2.6rem;
        margin-bottom: 0.7em;
    }

   .section-description {
        line-height: 1.6em;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
}
