/* Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

/* Variables CSS */

:root {
    --old-pink: rgb(240, 197, 181);
    --coin: rgba(255, 216, 202, 0.76);
    --old-pink-light: rgba(252, 201, 183, 0.822);
    --baby-pink: #f1c4a3;
    --flamingo: rgb(255, 198, 177);
    --salmon: #fd9185;
    --white: white;
    --light-grey: #fafafa;
    --border-grey: #e0e0e0;
    --cloud-grey: #F2F2F2;
    --grey: #F2F2F2;
    --dark-grey: rgba(143, 142, 142, 0.555);
    --iron-grey: rgb(24, 23, 23);
    --black: rgb(0, 0, 0);
}


/* Estilos generales */

.section-title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 12px;

}

.section-description {
    color: var(--iron-grey);
    margin-bottom: 50px;
    line-height: 1.5em;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

/* Media query para el formato tablet */

@media (min-width: 768px) {
    .section-title {
        font-size: 3em;
        margin-bottom: 1em;
    }

    .section-description {
        line-height: 1.8em;
        font-size: 1.75rem;
    }

}

/* Media query para el formato escritorio */

@media (min-width:830px) {
    .section-title {
        font-size: 2.6rem;
        margin-bottom: 0.7em;
    }

    .section-description {
        line-height: 1.6em;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
}