.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.projects {
    width: 100%;
}

.project {
    width: 100%;
    margin: 0;
    background-color: var(--white);
    margin-bottom: 1.25em;
    padding: 1.25em;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-image {
    width: 100%;
    display: block;
}

.img-portfolio {
    width: 50%;
}

.section-proyects {
    padding: 20% 5%;
    background-color: var(--grey);
    text-align: center;
}

.project-name {
    font-size: 1rem;
    color: var(--black);
}

.project:hover {
    border: 1px solid var(--flamingo);
    color: var(--salmon);
}

@media (min-width:768px) {
    .project {
        width: calc(100% / 2 - (0.75em * 2));
        margin: 0.75em;
    }

    .project-name {
        font-size: 1.5rem;
    }
}

@media (min-width:830px) {

    .project-image {
        width: auto;
        max-height: 12vw;
    }

    .project {
        width: calc(100%/3 - 24px);
        height: 22vw;
        align-items: center;
    }

    .section-proyects {
        padding: 6% 5%;

    }
}