.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.projects {
    width: 100%;
}


.project {
    
    width: 100%;
    margin: 0;
    background-color: white;
    margin-bottom: 1.25em;
    padding: 1.25em;
    border: 1px solid rgba(136, 135, 135, 0.705);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-image {
    width: 100%;
    display: block;
   
}

.section-proyects {
    padding: 20% 5%;
    background-color: #F2F2F2;
   text-align: center;
}

.project-name {
    font-size: 1rem;
    color: black;
}

.project:hover {
    border: 1px solid #FFA096;
    color: #fd9185; 
}

@media (min-width:768px) {
    .project {
        width: calc(100% / 2 - (0.75em * 2));
        margin: 0.75em;
}
    .project-name {
        font-size: 1.5rem;
    }
}

@media (min-width:830px){
    
    .project-image {
        width: auto;
        max-height: 12vw;
    }

    .project {
        width: calc(100%/3 - 24px); 
        height: 22vw;
        align-items: center; 
    }

    .section-proyects {
        padding: 6% 5%;
    
    }

}