.section-quote {
    background-color: var(--baby-pink);
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-icon {
    font-size: 4rem;
    margin-bottom: 20px;
}

.fas .fa-quote-right {
    font-weight: 700;
}

.quote {
    font-size: 2rem;
    max-width: 800px;
    line-height: 1.5;
    padding: 40px;
}

.quote-text {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 1.35rem;
    line-height: 1.4;
}

.quote-author {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .quote-icon {
        margin-bottom: 25px;
    }

    .quote-text {
        font-size: 2rem;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .quote-author {
        font-size: 2em;
        margin-top: 15px;
    }
}

@media (min-width:830px) {
    .section-quote {
        padding: 5%;
    }

    .quote-icon {
        font-size: 3em;
    }

    .quote-author {
        font-size: 1.4em;
    }
}