.section-skills {
    padding: 80px 20px;
    background-color: var(--cloud-grey);
}

.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skill-column {
    width: 100%;
    max-width: 1000px;
}

.skills-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    padding-bottom: 10px;
}

.skills-description {
    display: block;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-grid {
    justify-content: center;
}

.skill {
    color: rgb(24, 23, 23);
    border: 1px solid var(--dark-grey);
    border-radius: 8px;
    max-width: 250px;
    width: calc(50% - 40px);
    padding: 10px;
    margin: 5px;
    transition: 0.2s;
}

.skill:hover {
    /* -webkit-transform: scale(1.1); */
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.grid-item {
    background-color: var(--grey);
}

.grid-title {
    font-size: 1em;
    font-weight: 700;
}

.skill-icon {
    font-size: 2.7em;
    color: var(--iron-grey);
    -webkit-text-stroke: 0.15px var(--dark-grey);
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
    transition: 0.3s;
}



@media (min-width: 768px) {

    .skill {

        width: 200px;
        height: 200px;
        padding: 10px;
        margin: 7px;

    }

    .skill-icon {
        font-size: 4em;
    }

    .grid-title {
        font-size: 1.55em;
    }

    .skill-column {
        max-width: 100%;
    }

}

@media (min-width:830px) {

    .skills-container {
        max-width: 1000px;
    }

    .grid {
        flex-flow: row wrap;
        height: auto;
    }

    .grid-title {
        font-size: 1.3em;
    }
}